<div class="w-[500px] self-start">
    <label for="textsearch">Text Search</label>
    <form
        id="textsearch"
        hx-post="/search"
        hx-target="#result"
        hx-swap="innerHTML"
    >
        <input
            class="focus:outline-none border-2 border-pink-600 rounded-full px-4 py-1"
            name="q"
            type="text"
        />
        <button
            class="bg-pink-200 hover:bg-pink-400 active:bg-pink-500 rounded-full px-4 py-2"
            type="submit"
        >
            Search
        </button>
    </form>
    <label for="usersearch">User Search</label>
    <form
        id="usersearch"
        hx-post="/searchuser"
        hx-target="#result"
        hx-swap="innerHTML"
    >
        <input
            class="focus:outline-none border-2 border-pink-600 rounded-full px-4 py-1"
            name="u"
            type="text"
        />
        <button
            class="bg-pink-200 hover:bg-pink-400 active:bg-pink-500 rounded-full px-4 py-2"
            type="submit"
        >
            Search
        </button>
    </form>
    <div class="max-h-[70vh] overflow-y-scroll" id="result"></div>
</div>
