<div>
    <ul>
        {{range .}}
        <li style="display: flex; gap: 8px; margin-bottom: 16px">
            <img
                width="320px"
                height="180px"
                style="object-fit: cover; background-color: transparent"
                src="{{.Thumbnail}}"
            />
            <div style="display: flex; flex-direction: column">
                <span style="font-weight: bold; font-size: large"
                    >{{.Title}}</span
                >
                <span>Views {{.Views}}</span>
                <span>{{.Duration}}</span>
                <form hx-post="/analyze" hx-swap="none">
                    <input
                        name="url"
                        style="display: none"
                        type="text"
                        value="https://www.youtube.com/watch?v={{.Id}}"
                    />
                    <button
                        class="bg-pink-200 hover:bg-pink-400 active:bg-pink-500 rounded-full px-4 py-2"
                        type="submit"
                    >
                        Load Data
                    </button>
                </form>
            </div>
        </li>
        {{end}}
    </ul>
</div>
