<html>
    <head>
        <title>Chat Analytics</title>
        <link rel="preconnect" href="https://fonts.googleapis.com" />
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
        <link
            href="https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&display=swap"
            rel="stylesheet"
        />
        <link rel="stylesheet" href="/static/main.css" />
    </head>
    <body>
        <table>
            <tr>
                <th>Index</th>
                <th>Amount</th>
                <th>Time</th>
                <th>Link</th>
            </tr>
            {{range $index, $element := . }}
            <tr>
                <td>{{$index}}</td>
                <td>{{$element.Amount}}</td>
                <td>{{$element.Timestamp}}</td>
                <td>
                    <a href="{{$element.URL}}" target="_blank">Context</a>
                </td>
            </tr>
            {{end}}
        </table>
    </body>
</html>
