<div>
    <script>
        function skipToContext(start) {
            var embed = document.querySelector("#embed");
            embed.contentDocument.querySelector("video").currentTime = start;
        }
    </script>
    <div class="flex gap-4 justify-center items-center">
        <div>
            <iframe
                style="width: 1280px; height: 720px"
                id="embed"
                allowfullscreen
                frameborder="0"
                referrerpolicy="no=referrer"
                src="/embed/{{.Id}}"
            ></iframe>
        </div>
        <div style="height: 90vh; overflow-y: scroll">
            <table>
                <tr>
                    <th>Amount</th>
                    <th>Time</th>
                    <th>Link</th>
                </tr>
                {{range .Embeds }}
                <tr>
                    <td>{{.Amount}}</td>
                    <td>{{.Timestamp}}</td>
                    <td>
                        <a
                            onclick="skipToContext({{.Start}})"
                            style="color: palevioletred; cursor: pointer"
                            >Context</a
                        >
                    </td>
                </tr>
                {{end}}
            </table>
        </div>
    </div>
</div>
