<html>
    <head>
        <title>Chat Analytics</title>
        <link rel="stylesheet" href="/static/output.css" />
        <script
            src="https://unpkg.com/htmx.org@2.0.1"
            integrity="sha384-QWGpdj554B4ETpJJC9z+ZHJcA/i59TyjxEPXiiUgN2WmTyV5OEZWCD6gQhgkdpB/"
            crossorigin="anonymous"
        ></script>
        <style>
            .htmx-indicator {
                display: none;
            }
            .htmx-request .htmx-indicator {
                display: inline;
                animation-name: spin;
                animation-duration: 2000ms;
                animation-iteration-count: infinite;
                animation-timing-function: linear;
            }
            .htmx-request.htmx-indicator {
                display: inline;
                animation-name: spin;
                animation-duration: 2000ms;
                animation-iteration-count: infinite;
                animation-timing-function: linear;
            }

            @keyframes spin {
                from {
                    transform: rotate(0deg);
                }
                to {
                    transform: rotate(360deg);
                }
            }
        </style>
        <script>
            var lastActiveNav = null;

            function clickNav(event) {
                if (lastActiveNav != null) {
                    lastActiveNav.classList.remove("bg-pink-200");
                }
                console.log(event.target);
                event.target.classList.add("bg-pink-200");
                lastActiveNav = event.target;
            }
            function progress() {
                const sock = new WebSocket("ws://localhost:8082", "progress");

                var handle;
                sock.onopen = (event) => {
                    handle = setInterval(() => {
                        sock.send(JSON.stringify({ msg: "ping" }));
                    }, 500);
                    document.querySelector("#prog-container");
                };

                sock.onmessage = (event) => {
                    const data = JSON.parse(event.data);
                    document.querySelector("#prog").value = data.p;

                    if (Number(data.p) == 1) {
                        clearInterval(handle);
                        document.querySelector("#prog").value = 0;
                        sock.close(1000, "done");
                    }
                };
            }
        </script>
    </head>
    <body class="m-4 flex font-jbmono">
        <div class="flex flex-col gap-2">
            <span class="text-xl text-pink-800 font-bold"
                ><a href="/">Clipr</a></span
            >
            <a
                class="px-4 py-2 rounded-full hover:bg-pink-200 active:active:bg-pink-400 duration-200"
                href="/stats"
                target="_blank"
            >
                Stats
            </a>

            <button
                onclick="clickNav(event)"
                class="text-left px-4 py-2 rounded-full hover:bg-pink-200 active:bg-pink-400 duration-200"
                hx-get="/users"
                hx-swap="innerHTML"
                hx-target="#content"
            >
                Users
            </button>

            <button
                onclick="clickNav(event)"
                class="text-left px-4 py-2 rounded-full hover:bg-pink-200 active:bg-pink-400 duration-200"
                hx-get="/top"
                hx-swap="innerHTML"
                hx-target="#content"
            >
                Main
            </button>

            <button
                onclick="clickNav(event)"
                class="text-left px-4 py-2 rounded-full hover:bg-pink-200 active:bg-pink-400 duration-200"
                hx-get="/s"
                hx-swap="innerHTML"
                hx-target="#content"
            >
                Search
            </button>
            <button
                onclick="clickNav(event)"
                class="text-left px-4 py-2 rounded-full hover:bg-pink-200 active:bg-pink-400 duration-200"
                hx-get="/channels"
                hx-swap="innerHTML"
                hx-target="#content"
            >
                Channels
            </button>
        </div>
        <div class="flex flex-col w-full items-center">
            <div class="mb-6">
                <form
                    class="flex items-center gap-4"
                    hx-post="/analyze"
                    hx-swap="none"
                >
                    <label for="url">Youtube VOD URL</label>
                    <input
                        autocomplete="off"
                        class="focus:outline-none border-2 border-pink-600 rounded-full px-4 py-1"
                        name="url"
                        id="url"
                        type="text"
                    />
                    <button
                        class="bg-pink-200 hover:bg-pink-400 active:bg-pink-500 rounded-full px-4 py-2"
                        type="submit"
                        onclick="progress()"
                        style="display: flex; align-items: center; gap: 8px"
                    >
                        Analyze
                        <img
                            style="margin-top: auto; margin-bottom: auto"
                            width="12px"
                            height="12px"
                            class="htmx-indicator"
                            src="/static/loading.svg"
                        />
                    </button>
                </form>
                <div id="prog-container">
                    <label for="prog">Progress</label>
                    <progress id="prog" max="1" value="0.0"></progress>
                </div>
            </div>
            <div class="w-[80%] h-1 rounded-full bg-pink-200 mb-6"></div>
            <div id="content"></div>
        </div>
    </body>
</html>
